.heading {
	text-align: center;
	font-family: sans-serif;
	background-color: lightblue;
}

.sidebar{
  float: left;
  text-align: center;
	background-color: lightgrey;
	width: 20%;
	height: 100%;
}
.img {
  float: right;
	width: 325px;
	
}
.theory {
	float: center;
	font-size: x-large; 
	text-align: center;
}
.before {
	float:center;
}